<form [formGroup]="form" (ngSubmit)="save()" class="space-y-4">

    <div class="grid grid-cols-2 gap-4">
        <app-ui-select label="TIPO EVENTO" formControlName="tipo"
            [error]="form.get('tipo')?.touched && form.get('tipo')?.invalid ? 'Requerido' : ''">
            <option value="ACCIDENTE">Accidente</option>
            <option value="INCIDENTE">Incidente</option>
        </app-ui-select>

        <app-ui-input label="CANTIDAD" type="number" formControlName="cantidad" placeholder="0"
            [error]="form.get('cantidad')?.touched && form.get('cantidad')?.invalid ? 'Mínimo 0' : ''">
        </app-ui-input>
    </div>

    <app-ui-textarea label="OBSERVACIONES / DETALLES" formControlName="observaciones"
        placeholder="Describa el evento..." [rows]="4" [showCounter]="true" [maxLength]="500"
        [error]="form.get('observaciones')?.touched && form.get('observaciones')?.invalid ? 'Máximo 500 caracteres' : ''">
    </app-ui-textarea>

    <div class="pt-4 border-t border-zinc-800 flex justify-end">
        <button type="submit" [disabled]="isSaving"
            class="px-5 py-2.5 rounded-lg text-sm font-medium bg-white text-black hover:bg-zinc-200 transition shadow-lg shadow-white/5 flex items-center gap-2 disabled:opacity-50 disabled:cursor-wait">
            <i *ngIf="isSaving" class="ph ph-spinner animate-spin text-lg"></i>
            <i *ngIf="!isSaving" class="ph-bold ph-floppy-disk"></i>
            {{ isSaving ? 'Guardando...' : 'Guardar Cambios' }}
        </button>
    </div>
</form>